<%= form_for(@song_request) do |f| %>
  <% if @song_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_request.errors.count, "error") %> prohibited this song_request from being saved:</h2>

      <ul>
      <% @song_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dj %><br />
    <%= f.text_field :dj %>
  </div>
  <div class="field">
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </div>
  <div class="field">
    <%= f.label :singer %><br />
    <%= f.text_field :singer %>
  </div>
  <div class="field">
    <%= f.label :singer_name %><br />
    <%= f.text_field :singer_name %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
