<%= form_for(@beta_tester) do |f| %>
  <% if @beta_tester.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! There's a problem:</h2>

      <ul>
      <% @beta_tester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Invitation Code" %><br />
    <%= f.text_field :code %>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
