<h1>Listing beta_testers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beta_testers.each do |beta_tester| %>
  <tr>
    <td><%= beta_tester.name %></td>
    <td><%= beta_tester.email %></td>
    <td><%= link_to 'Show', beta_tester %></td>
    <td><%= link_to 'Edit', edit_beta_tester_path(beta_tester) %></td>
    <td><%= link_to 'Destroy', beta_tester, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beta tester', new_beta_tester_path %>
