<!--<p id="notice"><%= notice %></p>-->

<h1>You're In!</h1></br>
<p>Thanks for signing up! You will be notified when your beta account is ready</p>
<p>
  <b>Name:</b>
  <%= @beta_tester.name %>
</p>

<p>
  <b>Email:</b>
  <%= @beta_tester.email %>
</p>


<!--<%= link_to 'Edit', edit_beta_tester_path(@beta_tester) %> |
<%= link_to 'Back', beta_testers_path %>-->
