<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li>Signed in as <%= current_user.name %></li>
        <li><%= link_to "Sign out", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
